CHART_NAME=traefik
CHART_VERSION=37.4.0
NAMESPACE=traefik-reverse-proxy
RELEASE_NAME=$CHART_NAME
REPO_NAME=traefik-helm-chart
REPO_URL=https://traefik.github.io/charts
VALUES_FILE=../traefik/values.yaml